body {
    background-color: #e9f2f1;
    width:fit-content;
    height: 840px;
    
    color: var(--Text-Headings, #011C34);
    font-family: Sofia Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
   
        
}

.wrapper {
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
    
}

.leftBox {
    margin-inline-start: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.rightBox {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
    margin-block-start: 80px;
    margin-inline-end: 140px;
    padding: 40px;
    width: 580px;
    height: 599px;
    
}

img {
    width: 77.333px;
    height: 80px;
}

h1 {
    color: var(--CL-Black, #000B0A);
    font-family: Brown;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 125% */
    letter-spacing: -0.8px;
}


p {
    color: var(--CL-Grey, #737373);
    font-family: Brown;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    width: 400px;
    height: 75px;
    
}

label {
    display: block; 
    margin-bottom: 8px;
} 

.credentials {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-block-end: 30px;
    
}

.input-container {
    position: relative;
}

#gender, #activityLevel {
    
    font-size: 13px;
    background: #fff url('./Assets/u_angle-down.png') no-repeat right center; /* Replace 'arrow-icon.png' with your arrow icon path */
    background-size: 25px;
    width: 238px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid var(--CL-Gray-3, #F0F0F0);

}

#password {
    background: #fff url('./Assets/show.png') no-repeat right center; /* Replace 'arrow-icon.png' with your arrow icon path */
    background-size: 15px;
    
    
}

#dateOfBirth {
    background: #fff url('./Assets/u_a_calendar-alt.png') no-repeat right center; /* Replace 'arrow-icon.png' with your arrow icon path */
    background-size: 15px;
}

#img {
    position: absolute ;
    top: 100px;
    right: 10px;
    transform: translateY(-50%);
    width: 20px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid black;
}

.otherCredentials {
    margin-block-end: 30px;
    margin-inline-start: 30px;
    
}

.otherCredentials > input, #activityLevel {
    width: 525px;
}

input {
    padding-left: 10px;
    padding-right: 100px;
    width: 238px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid var(--CL-Gray-3, #F0F0F0);

}

#btn {
    color: var(--Basic-100, #FFF);
    text-align: center;
    font-family: Sofia Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    background-color: #2EC4B6;
    margin-inline-start: 30px;
    margin-block-end: 30px;
    padding: auto;
    width: 525px;
    height: 48px;
    border: none;
   
}

.footer {
    color: #000;
    font-family: Sofia Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */

    margin-inline-start: 30px;
}

.footer > a {
    color: var(--CL-Green, #2EC4B6);
    font-family: Sofia Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-decoration-line: underline;
}

#small_screen {
    display: none;

}



@media only screen and (max-width: 600px) {
    body {
        
    }

    .rightBox {
        width:430px ;
        height: 850px;
        margin-inline-start: 24px;
    }

    .leftBox {
        padding-left: 24px;
        margin-inline-start: 0px;
        margin-block-start: 74px;
        width:500px ;
    }

    .wrapper {
        width: 375px;
        height: 1450px;
        display: block;
        padding-left: 10px;
        padding-right: 200px;
        border: 1px solid black;
    }
    .credentials {
        display: block;
        margin-block-end: 24px;
        padding-bottom: 0px;
    }

    .otherCredentials {
        margin-inline-start: 5px;
    }

    input {
        width: 430px;
    }

    #gender, #activityLevel {
        width: 430px;
    }

    #password {
        width: 430px;
    }

    .child_credentials {
        margin-block-end: 24px;
    }

    #btn {
        width: 430px;
        margin-inline-start: 0px;
    }

    .footer {
        margin-block-start: 45px;
    }

    #large_screen {
        display: none;
    }
    
    #small_screen {
        width: 430px;
        display:contents;
        font-size: 16px;
        border: 1px solid black;
    }

    .wrapper > p {
        border: 1px solid black;
    }
}